//- These mixins provide the non-global context varaibles the field templates
//- depend on.

mixin text_input(name, label, value)
  include text_input

mixin textarea(name, label, value)
  include textarea