extends base

block content
  h1 Things
  if (things.size)
    table.table.table-bordered.table-condensed
      thead
        tr
          th Name
          th Description
      tbody
        for thing in things
          tr
            td= thing.name
            td= thing.description
  else
    p There are no Things yet.
  .form-actions
    a.btn.btn-primary(href='/things/add') Add Thing